@import 'tailwindcss';
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
  --background: hsl(258.8 50% 95%);
  --foreground: hsl(258.8 2.5% 7.5%);
  --card: hsl(258.8 25% 95%);
  --card-foreground: hsl(258.8 2.5% 12.5%);
  --popover: hsl(258.8 50% 97.5%);
  --popover-foreground: hsl(258.8 97.5% 5%);
  --primary: hsl(258.8 49.5% 59.6%);
  --primary-foreground: hsl(0, 0%, 0%);
  --secondary: hsl(258.8 20% 80%);
  --secondary-foreground: hsl(0 0% 0%);
  --muted: hsl(296.8 20% 90%);
  --muted-foreground: hsl(258.8 2.5% 37.5%);
  --accent: hsl(296.8 20% 85%);
  --accent-foreground: hsl(258.8 2.5% 12.5%);
  --destructive: hsl(0 75% 40%);
  --destructive-foreground: hsl(258.8 2.5% 95%);
  --border: hsl(258.8 25% 66%);
  --input: hsl(258.8 25% 34%);
  --ring: hsl(258.8 88.7% 45.3%);
  --chart-1: hsl(258.8 50% 36%);
  --chart-2: hsl(258.8 50% 48%);
  --chart-3: hsl(258.8 50% 60%);
  --chart-4: hsl(258.8 50% 72%);
  --chart-5: hsl(258.8 50% 83%);
    --radius: 0rem;
  --sidebar: hsl(259, 50%, 90%);
  --sidebar-foreground: hsl(259, 3%, 7%);
  --sidebar-primary: hsl(259, 50%, 54%);
  --sidebar-primary-foreground: hsl(0 0% 0%);
  --sidebar-accent: hsl(297, 20%, 81%);
  --sidebar-accent-foreground: hsl(0 0% 0%);
  --sidebar-border: hsl(259, 25%, 63%);
  --sidebar-ring: hsl(249, 98%, 45%);
}

.dark {
  --background: hsl(258.8 30% 7.5%);
  --foreground: hsl(258.8 2.5% 95%);
  --card: hsl(258.8 25% 5%);
  --card-foreground: hsl(258.8 2.5% 95%);
  --popover: hsl(258.8 30% 5%);
  --popover-foreground: hsl(258.8 2.5% 95%);
  --primary: hsl(258.8 49.5% 59.6%);
  --primary-foreground: hsl(0, 0%, 0%);
  --secondary: hsl(258.8 20% 15%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(296.8 20% 20%);
  --muted-foreground: hsl(258.8 2.5% 62.5%);
  --accent: hsl(296.8 20% 20%);
  --accent-foreground: hsl(258.8 2.5% 92.5%);
  --destructive: hsl(0 75% 40%);
  --destructive-foreground: hsl(258.8 2.5% 95%);
  --border: hsl(258.8 25% 34%);
  --input: hsl(258.8 25% 34%);
  --ring: hsl(258.8 88.7% 45.3%);
  --chart-1: hsl(258.8 50% 36%);
  --chart-2: hsl(258.8 50% 48%);
  --chart-3: hsl(258.8 50% 60%);
  --chart-4: hsl(258.8 50% 72%);
  --chart-5: hsl(258.8 50% 83%);
  --sidebar: hsl(259, 30%, 10%);
  --sidebar-foreground: hsl(259, 3%, 100%);
  --sidebar-primary: hsl(259, 50%, 48%);
  --sidebar-primary-foreground: hsl(0, 0%, 0%);
  --sidebar-accent: hsl(297, 20%, 17%);
  --sidebar-accent-foreground: hsl(0 0% 100%);
  --sidebar-border: hsl(259, 25%, 32%);
  --sidebar-ring: hsl(249, 98%, 45%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
